<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="ChapeauG5DB"
         connectionString="Data Source=den1.mssql7.gear.host;Initial Catalog=chapeau242501;User ID=chapeau242501;Password=Cw9AH-Y5~f0B;TrustServerCertificate=True"
         providerName="Microsoft.Data.SqlClient" />
  </connectionStrings>
</configuration>